@model Cafe_Project.Models.Product

@{
    ViewData["Title"] = "CreateOrder";
}

<h1>Create Order</h1>

@*<h4>Product</h4>*@
@{

    //var productTypes = Cafe_Project.Controllers.HomeController.GetProductTypes();

    var product = Cafe_Project.Controllers.HomeController.GetProducts(Model.productTypeId);
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateOrder">
            @Html.HiddenFor(x => x.tableId)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label">Product Name</label>
                @Html.DropDownListFor(x => x.id,
                new SelectList(product, "id", "name"), new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label asp-for="quantity" class="control-label">Quantity</label>
                <input asp-for="quantity" class="form-control" type="number" />
                <span asp-validation-for="quantity" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
